/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-gray);
  --color-secondary: var(--color-white);

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-blue: #023e7d;
  --color-gray: #828b9d;
  --color-lightBlue: #cdedf6;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

button {
  outline: 0;
  border: 0;
}

/* Common */
.section {
  margin-top: 200px;
}

.title {
  font-size: 32px;
}

.point-text {
  font-size: 20px;
}

.text {
  font-size: 16px;
}

.flex-row {
  display: flex;
  align-items: center;
}

.width50 {
  width: 50%;
}

.bg-blue {
  background-color: var(--color-accent);
  color: var(--color-secondary);
}

.bg-white {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.display-none {
  display: none;
}

/* Header */
.header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: var(--color-secondary);
  position: fixed;
  top: 0;
  z-index: 2;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  max-width: 1320px;
  z-index: 3;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 1s;
}

.header__logo:hover {
  transform: scale(1.1);
}

.header__logo__img {
  width: 50px;
  height: 50px;
  transition: all 1s;
}

.header__logo:hover .header__logo__img {
  transform: rotate(360deg);
}

.header__logo__title {
  font-size: 30px;
  font-weight: 400;
  margin-left: 5px;
}

.header__menu {
  display: flex;
}

.header__menu__item {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
  transition: all 0.3s ease-in-out;
}

.header__menu__item:hover {
  box-shadow: inset 0 -2px 0 var(--color-blue);
  transform: scale(1.1);
}

.header__menu__item.active {
  font-weight: 900;
  color: var(--color-blue);
}

/* Home */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 100px;
  gap: 100px;
}

.home__img-box {
  width: 50%;
}

.home__img {
  width: 100%;
  transition: all 1s;
  object-fit: cover;
}

.home__img:hover {
  transform: scale(1.1);
}

.home__text-box {
  width: 50%;
}

.home__introduce {
  line-height: 1.5;
}

.home__title {
  margin-top: 16px;
}

.home__text {
  margin-top: 16px;
}

.home__important {
  color: var(--color-accent);
  font-weight: 700;
  text-decoration: underline;
}

.home__contact {
  display: block;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 5px 25px;
  border-radius: 25px;
  margin: 100px auto 0;
  width: fit-content;
  transition: all 1s;
}

.home__contact:hover {
  transform: scale(1.1);
}

/* About */
.about__title-box {
  text-align: center;
}

.about__img-box {
  height: 400px;
  margin-top: 50px;
}

.about__img {
  display: block;
  border-radius: 30px;
  height: 100%;
  margin: auto;
  transition: all 1s;
}

.about__img:hover {
  transform: scale(1.1);
}

.about__text {
  text-align: center;
  margin: 50px auto 0;
  max-width: 1000px;
}

.about__box {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.about__small-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary);
  width: 25%;
  max-height: 300px;
  max-width: 400px;
  color: var(--color-secondary);
  padding: 30px;
  cursor: default;
}

.about__small-box:hover .about__icon-title {
  color: var(--color-lightBlue);
  transform: scale(1.1);
}

.about__icon-box i {
  transition: all 0.5s;
}

.about__small-box:hover .about__icon-box i {
  transform: rotateY(180deg);
}

.about__icon-box {
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary);
  width: 150px;
  height: 100px;
  color: var(--color-accent);
}

.about__icon {
  font-size: 100px;
}

.about__icon-title {
  margin-top: 16px;
  transition: all 1s;
}

.about__table-box {
  max-width: 1300px;
  margin: 50px auto 0;
}

.about__table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  text-align: left;
  margin-top: 50px;
}

.about__table tr {
  border-bottom: 1px solid #ddd;
  height: 80px;
}

.about__table td {
  padding: 12px;
  vertical-align: top;
}

.about__table tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.about__table tr:first-child {
  border-top: 1px solid #ddd;
}

.about__table tr td:nth-child(2) {
  font-weight: 700;
}

.about__table tr td:nth-child(2) li {
  font-weight: 400;
}

.about__table ul {
  margin: 5px 0 0 15px;
  padding-left: 0;
}

.about__table ul li {
  padding-left: 5px;
}

/* Skills */
#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.skills__box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.skills__left-box,
.skills__right-box {
  width: 48%;
  border: 5px solid var(--color-primary);
  padding: 50px;
}

.skills__left-box .width50,
.skills__right-box .width50 {
  margin-top: 20px;
}

.skills__left-box .width50 span,
.skills__right-box .width50 span {
  margin-left: 20px;
}

.skills__box img {
  transition: all 0.5s;
}

.skills__box .width50:hover img {
  transform: scale(1.5);
}

.skills__box span {
  transition: all 0.5s;
}

.skills__box .width50:hover span {
  font-weight: 700;
  text-decoration: underline;
}

/* Projects */
#projects {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 200px 85px;
}

.projects__text,
.projects__title {
  text-align: center;
}

.projects__button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.projects__button {
  padding: 10px 20px;
  width: 200px;
  border-radius: 5px;
  margin-top: 30px;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
  transition: transform 1s;
}

.projects__button:hover {
  transform: scale(1.1);
  font-weight: 700;
}

.projects__list-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 50px;
}

.projects__list-box li {
  width: 22%;
}

.projects__list-box img {
  width: 100%;
}

.projects__main-list-box {
  display: flex;
  overflow: hidden;
  width: 900px;
}

.projects__main-list-box li {
  margin-top: 50px;
  overflow: hidden;
}

.projects__main-list-box img {
  width: 900px;
}

.projects__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-secondary);
}

.projects__icon-box i {
  padding: 100px;
  font-size: 30px;
}

.projects__display-none {
  display: none;
}

.projects__list-box__list {
  position: relative;
}

.projects__metadata {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 1s;
}

.projects__metadata:hover {
  opacity: 0.9;
  transform: translateY(0);
}

.projects__metadata__title:after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 10px 0;
  width: 100px;
  height: 2px;
  background-color: var(--color-accent);
}

.projects__metadata__text {
  color: var(--color-accent-variant);
}

/* Arrow up */
.arrow-up {
  background-color: var(--color-primary);
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 40px;
  color: var(--color-secondary);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0px 0px 0px 5px var(--color-accent);
}

/* Footer */
#contact {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 400px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 10px 20px;
  border-radius: 30px;
  margin-top: 150px;
  transition: all 1s;
  cursor: pointer;
  position: relative;
}

.contact__button:hover {
  transform: scale(1.1);
}

.contact__button:hover .contact__button__content:after {
  content: '';
  display: block;
  width: 80%;
  height: 2px;
  background-color: var(--color-accent);
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 10px;
  left: 11%;
}

.contact__nav-box {
  margin-top: 150px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__nav {
  display: flex;
  margin-bottom: 10px;
  font-size: 16px;
  gap: 40px;
  white-space: nowrap;
}

.contact__nav li {
  transition: all 1s;
}

.contact__nav li:hover {
  font-weight: 700;
}
