/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-gay);
  --color-secondary: var(--color-white);

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-blue: #023e7d;
  --color-gray: #828b9d;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

button {
  outline: 0;
  border: 0;
}

/* Header */
.header-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  max-width: 1320px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s;
}

.header__logo:hover {
  transform: scale(1.1);
}

.header__logo__img {
  width: 50px;
  height: 50px;
  transition: all 1s;
}

.header__logo:hover .header__logo__img {
  transform: rotate(360deg);
}

.header__logo__title {
  font-size: 32px;
  font-weight: 400;
  margin-left: 5px;
}

.header__menu {
  display: flex;
}

.header__menu__item {
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
  transition: box-shadow 0.3s ease-in-out;
}

.header__menu__item:hover {
  box-shadow: inset 0 -2px 0 var(--color-blue);
}

.header__menu__item.active {
  font-weight: 900;
  color: var(--color-blue);
}
